#Q13

In [18]:
def score1(students):

  if not students:
    return None

  highest_score = -1
  student_highest_score = None

  for name, score in students.items():
    if score > highest_score:
      highest_score = score
      student_highest_score = name

  return student_highest_score

In [19]:
score1({"Alice":85, "Bob":90, "Charlie":92})

'Charlie'

#Q14

In [12]:
def apply_lambda(data, func):

    return [func(x) for x in data]

In [13]:
apply_lambda([1,2,3,4,5],lambda x:x**2)

[1, 4, 9, 16, 25]

#Q15

In [14]:

def calculate(*n, operation='sum'):
  if operation == 'multiply':
    result = 1
    for num in n:
      result *= num
    return result
  else:  # Default to sum
    return sum(n)

In [15]:
calculate(1,2,3,4,operation="multiply")

24